<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-lg-6 col-sm-7">
            <%=link_to('Back', params[:category] ? {controller: 'category', action: 'show', key: params[:category]} : root_url, {class: 'back-btn'}) %>
            <div class="recipe">
              <h2>
                <%= @recipe.name %>
              </h2>
              <h5>
                Preparation
              </h5>
              <p>
                <%= @recipe.preparation %>
              </p>
              <hr>
              <h5>
                Directions
              </h5>
              <ol>
                <% @recipe.directions.each do |direction| %>
                  <li>
                    <p>
                      <%= direction.description %>
                    </p>
                  </li>
                <% end %>
              </ol>
            </div>
          </div>
          <div class="col-sm-5 col-lg-offset-1">
            <div class="panel panel-default">
              <%= image_tag(@recipe.image, class: 'img-responsive') %>
              <div class="panel-body">
                <h5>
                  Ingredient List
                </h5>
                <table class="table recipe-table">
                  <tbody>
                  <% @recipe.ingredients.each do |ingredient| %>
                    <tr>
                      <td>
                        <%= ingredient.quantity %>

                        <% if ingredient.measurements %>
                          <%= ingredient.measurements.pluralize(ingredient.quantity) %>
                          of
                          <%= ingredient.name %>
                        <% else %>
                          <%= ingredient.name.pluralize(ingredient.quantity) %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row text-right" style="padding:0px 15px;">
              <%=link_to('Update Recipe', {action: 'create', id: @recipe.id}, class:'btn btn-default btn-sm') %>
              <%=link_to('Delete', '#', onclick: 'deleteRecipe()', class:'btn btn-default btn-sm') %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    function deleteRecipe() {
        if (!confirm("Are you sure you want to delete this recipe?")) return;
        location = '/recipe/<%=@recipe.id%>/delete';
    }
</script>
