<style>
  .jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("<%=asset_url("heros/#{rand(1..19)}.jpg")%>") center center no-repeat;
  }
</style>

<div class="jumbotron text-center">
  <div class="overlay"></div>
  <div class="container">
    <h1>
      <%= tr('The Best in International Food', 'A title for the site') %>
    </h1>

    <p>
      <%= tr('Food from around the world') %>
    </p>

  </div>
</div>

<div data-spy="affix" data-offset-top="480" class="recipe-nav">
  <div class="container text-centered">
    <div id="nav-categories">
      <ul class="nav nav-tabs">
        <% @categories.each do |category| %>
          <li><a href="#<%= category.key %>"><%= tr(category.name) %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <% @categories.each do |category| %>
      <% next unless category.recipes.any? %>

      <a id="<%= category.key %>" class="anchor">&nbsp;</a>
      <div class="page-header">
        <h3>
          <%= link_to(tr(category.name), controller: 'categories', action: 'show', id: category.key) %>
        </h3>
      </div>
      <%= render(partial: '/recipes/list', locals: {category: category, recipes: category.recipes.featured}) %>
    <% end %>
  </div>
</div>