<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <%= form_for(:recipe, url: {}, html: {method: 'post'}) do |f| %>
        <div class="row">
          <div class="col-lg-6 col-sm-7">

            <div class="recipe">
              <h2>
                Add New Recipe
              </h2>

              <div>
                <%= f.text_field(:name, placeholder: 'Recipe Name', class: 'form-control') %>
              </div>

              <div style="padding: 10px 0;">
                <%= f.text_area(:description, placeholder: 'Description', class: 'form-control') %>
              </div>

              <div style="padding-bottom: 10px;">
                <%= f.text_field(:image, placeholder: 'Image Url', class: 'form-control') %>
              </div>

              <h5>
                Category
              </h5>

              <div style="padding-bottom: 10px">
                <%= select_tag('recipe[category_id]', options_for_select(@categories), class: 'form-control') %>
              </div>

              <h5>
                Preparation
              </h5>
              <p>
                <%= f.text_area(:preparation, placeholder: 'Preparation instructions', class: 'form-control', style: 'height: 80px;') %>
              </p>
              <hr>
              <h5>
                Directions
              </h5>
              <table class="table recipe-table">
                <% 1.upto(3).each do |index| %>
                    <tr>
                      <td>
                        <%= text_area_tag("recipe[directions][#{index}][description]", '', placeholder: 'Directions', class: 'form-control') %>
                      </td>
                      <td style="width: 80px;">
                        <a class="btn btn-default" href="#" role="button" style="display:inline-block; width: 30px; padding: 5px 5px;">+</a>
                        <a class="btn btn-default" href="#" role="button" style="display:inline-block;  width: 30px; padding: 5px 5px;">-</a>
                      </td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
          <div class="col-sm-5 col-lg-offset-1">
            <div class="panel panel-default">
              <%= image_tag(@recipe.image, class: 'img-responsive') %>
              <div class="panel-body">
                <h5>
                  Ingredient List
                </h5>
                <table class="table recipe-table">
                  <tbody>
                  <% 1.upto(12).each do |index| %>
                      <tr>
                        <td>
                          <%= text_field_tag("recipe[ingredients][#{index}][quantity]", '', placeholder: 'Amount', class: 'form-control', style: 'width: 60px; display: inline-block') %>
                          <%= text_field_tag("recipe[ingredients][#{index}][measurements]", '', placeholder: 'Measurements', class: 'form-control', style: 'width: 70px; display: inline-block') %>
                          <%= text_field_tag("recipe[ingredients][#{index}][name]", '', placeholder: 'Name', class: 'form-control', style: 'width: 120px; display: inline-block') %>
                        </td>
                        <td>
                          <a class="btn btn-default" href="#" role="button" style="display:inline-block; width: 30px; padding: 5px 5px;">+</a>
                          <a class="btn btn-default" href="#" role="button" style="display:inline-block;  width: 30px; padding: 5px 5px;">-</a>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center" style="padding-top:50px">
          <button class="btn btn-default btn-primary btn-lg" type="submit">Submit</button>
          <button class="btn btn-default btn-lg" type="submit">Cancel</button>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

