<div class="jumbotron text-center">
  <div class="container">
    <h1>
      <%= tr('The Best in International Food') %>
    </h1>
    <p>
      <%= tr('Food from around the world') %>
    </p>
  </div>
</div>
<div data-spy="affix" data-offset-top="480" class="recipe-nav">
  <div class="container text-centered">
    <div id="nav-categories">
      <ul class="nav nav-tabs">
        <% @categories.each do |category| %>
          <li><a href="#<%=category.key %>"><%=tr(category.name) %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <% @categories.each do |category| %>
      <a id="<%= category.key %>" class="anchor">&nbsp;</a>
      <div class="page-header">
        <h3>
          <%= link_to(tr(category.name), controller: 'category', action: 'show', key: category.key) %>
        </h3>
      </div>
      <%= render(partial: '/recipe/list', locals: {category: category, recipes: category.recipes.featured}) %>
    <% end %>
  </div>
</div>