<!DOCTYPE html>
<html <%=tml_html_attributes_tag%>>
<head>
  <meta http-equiv="content-type"  content="application/xhtml+xml; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" content="notranslate">

  <title>Foody</title>

  <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,700" />

  <%= tml_stylesheet_link_tag('bootstrap.min.css', 'bootstrap.rtl.min.css', 'data-turbolinks-track' => true) %>
  <%= tml_stylesheet_link_tag('style.css', 'style.rtl.css', 'data-turbolinks-track' => true) %>


  <%= csrf_meta_tags %>

  <%= tml_scripts_tag %>
</head>

<body data-spy='scroll' data-target='#nav-categories'>

<%= render 'layouts/flashes' %>
<%= render 'layouts/navigation' %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>

</html>
